.idea/workspace.xml
.idea/libraries
target/
/node_modules/
/src/frontend/**/*.js
/src/frontend/**/*.js.map
/src/main/webapp/packed/
/.idea/dataSources/
/src/main/resources/application-development.properties
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/tmp/cache/**
npm-debug.log*
Test Results*.html